@page "/puzzle"
@rendermode @(new InteractiveWebAssemblyRenderMode(false))
@using GameConfig
@inherits PuzzlePresenter


<PageTitle>SlideQuest</PageTitle>

<div class="slide-quest-puzzle">
    @if (Grid is not null)
    {
        <div class="slide-quest-rules">
            
            <h3 class="slide-quest-rules__title">Pour se déplacer :</h3>

            <ul class="slide-quest-rules-commands">
                <li><span><span class="sqrc--1">!haut</span> ou <span class="sqrc--1">!up</span> ou <span class="sqrc--1">!z</span> ou <span class="sqrc--1">!w</span> : </span>aller en <span class="sqrc--1">haut</span></li>
                <li><span><span class="sqrc--1">!bas</span> ou <span class="sqrc--1">!down</span> ou <span class="sqrc--1">!s</span> : </span>aller en <span class="sqrc--1">bas</span></li>
                <li><span><span class="sqrc--1">!gauche</span> ou <span class="sqrc--1">!left</span> ou <span class="sqrc--1">!q</span> ou <span class="sqrc--1">!a</span> : </span>aller à <span class="sqrc--1">gauche</span></li>
                <li><span><span class="sqrc--1">!droite</span> ou <span class="sqrc--1">!right</span> ou <span class="sqrc--1">!d</span> : </span>aller à <span class="sqrc--1">droite</span></li>
                <li><span><span class="sqrc--1">!reset</span> ou <span class="sqrc--1">!r</span> : </span>revenir au <span class="sqrc--1">départ</span></li>
            </ul>
            
            <div class="slide-quest-rules__title-spacer"></div>

            <h3 class="slide-quest-rules__title">Pour créer une nouvelle partie :</h3>

            <ul class="slide-quest-rules-commands">
                <li><span><span class="sqrc--1">!gen</span> : </span>difficulté @Difficulty.Normal</li>
                <li><span><span class="sqrc--1">!gen</span> <span class="sqrc--2">1</span> : </span>difficulté <span class="sqrc--2">@Difficulty.Easy</span></li>
                <li><span><span class="sqrc--1">!gen</span> <span class="sqrc--2">2</span> : </span>difficulté <span class="sqrc--2">@Difficulty.Normal</span></li>
                <li><span><span class="sqrc--1">!gen</span> <span class="sqrc--2">3</span> : </span>difficulté <span class="sqrc--2">@Difficulty.Hard</span></li>
                <li><span><span class="sqrc--1">!gen</span> <span class="sqrc--2">4</span> : </span>difficulté <span class="sqrc--2">@Difficulty.Expert</span></li>

                <li><span><span class="sqrc--1">!genseed</span> <span class="sqrc--3">12345</span> : </span>difficulté @Difficulty.Normal avec une <span class="sqrc--3">Seed</span></li>
                <li><span><span class="sqrc--1">!genseed</span> <span class="sqrc--2">1</span> <span class="sqrc--3">12345</span> : </span>difficulté <span class="sqrc--2">@Difficulty.Easy</span> avec une <span class="sqrc--3">Seed</span></li>
                <li><span><span class="sqrc--1">!genseed</span> <span class="sqrc--2">2</span> <span class="sqrc--3">12345</span> : </span>difficulté <span class="sqrc--2">@Difficulty.Normal</span> avec une <span class="sqrc--3">Seed</span></li>
                <li><span><span class="sqrc--1">!genseed</span> <span class="sqrc--2">3</span> <span class="sqrc--3">12345</span> : </span>difficulté <span class="sqrc--2">@Difficulty.Hard</span> avec une <span class="sqrc--3">Seed</span></li>
                <li><span><span class="sqrc--1">!genseed</span> <span class="sqrc--2">4</span> <span class="sqrc--3">12345</span> : </span>difficulté <span class="sqrc--2">@Difficulty.Expert</span> avec une <span class="sqrc--3">Seed</span></li>
            </ul>

        </div>
        
        <div class="slide-quest-game">

            <div class="slide-quest-game-grid-container"
                 style="--grid-size: 800px; --grid-width: @Grid?.Width; --grid-height: @Grid?.Height;">
                
                <div class="grid">
                    @for (int y = 0; y < Grid?.Height; y++)
                    {
                        for (int x = 0; x < Grid?.Width; x++)
                        {
                            string cls = Grid.Cells[x, y].Type switch
                            {
                                CellType.Start => "start",
                                CellType.End => "end",
                                CellType.Path => "path",
                                CellType.Obstacle => "obstacle",
                                _ => "empty"
                            };
                            bool isPlayer = (PlayerCell.X == x && PlayerCell.Y == y);
                            <div class="cell @cls @(isPlayer ? "player" : string.Empty)" title="(@x,@y)"></div>
                        }
                    }
                </div>
                
            </div>
            
            <div class="slide-quest-game-grid-legend">
                <p class="grid-cell-legend"><span class="grid-cell-legend__icon grid-cell-player"></span> Joueur</p>
                <p class="grid-cell-legend"><span class="grid-cell-legend__icon grid-cell-start"></span> Départ</p>
                <p class="grid-cell-legend"><span class="grid-cell-legend__icon grid-cell-end"></span> Arrivée</p>
                <p class="grid-cell-legend"><span class="grid-cell-legend__icon grid-cell-obstacle"></span> Obstacle</p>
                <p class="grid-cell-legend"><span class="grid-cell-legend__icon grid-cell-ice"></span> Glace</p>
            </div>

        </div>
        
        @*<div class="moves" hidden="@(Grid.MovesForWin.Count == 0)">
            <h4>Suite de mouvements (flèches) pour résoudre:</h4>
            <p>
                @foreach (var m in Grid.MovesForWin)
                {
                    @:(@(m switch { SlideQuest.Shared.Enums.Direction.Top => "⬆️", SlideQuest.Shared.Enums.Direction.Bottom => "⬇️", SlideQuest.Shared.Enums.Direction.Left => "⬅️", SlideQuest.Shared.Enums.Direction.Right => "➡️", _ => "" })) 
                }
            </p>
            <p><small>Seed utilisée: @Grid.Seed</small></p>
        </div>*@
    }
    else
    {
        <div class="slide-quest-rules">
            <h3 class="slide-quest-rules__title">Pour créer une partie :</h3>

            <ul class="slide-quest-rules-commands">
                <li><span><span class="sqrc--1">!gen</span> : </span>difficulté @Difficulty.Normal</li>
                <li><span><span class="sqrc--1">!gen</span> <span class="sqrc--2">1</span> : </span>difficulté <span class="sqrc--2">@Difficulty.Easy</span></li>
                <li><span><span class="sqrc--1">!gen</span> <span class="sqrc--2">2</span> : </span>difficulté <span class="sqrc--2">@Difficulty.Normal</span></li>
                <li><span><span class="sqrc--1">!gen</span> <span class="sqrc--2">3</span> : </span>difficulté <span class="sqrc--2">@Difficulty.Hard</span></li>
                <li><span><span class="sqrc--1">!gen</span> <span class="sqrc--2">4</span> : </span>difficulté <span class="sqrc--2">@Difficulty.Expert</span></li>

                <li><span><span class="sqrc--1">!genseed</span> <span class="sqrc--3">12345</span> : </span>difficulté @Difficulty.Normal avec une <span class="sqrc--3">Seed</span></li>
                <li><span><span class="sqrc--1">!genseed</span> <span class="sqrc--2">1</span> <span class="sqrc--3">12345</span> : </span>difficulté <span class="sqrc--2">@Difficulty.Easy</span> avec une <span class="sqrc--3">Seed</span></li>
                <li><span><span class="sqrc--1">!genseed</span> <span class="sqrc--2">2</span> <span class="sqrc--3">12345</span> : </span>difficulté <span class="sqrc--2">@Difficulty.Normal</span> avec une <span class="sqrc--3">Seed</span></li>
                <li><span><span class="sqrc--1">!genseed</span> <span class="sqrc--2">3</span> <span class="sqrc--3">12345</span> : </span>difficulté <span class="sqrc--2">@Difficulty.Hard</span> avec une <span class="sqrc--3">Seed</span></li>
                <li><span><span class="sqrc--1">!genseed</span> <span class="sqrc--2">4</span> <span class="sqrc--3">12345</span> : </span>difficulté <span class="sqrc--2">@Difficulty.Expert</span> avec une <span class="sqrc--3">Seed</span></li>
            </ul>
        </div>
    }
</div>
